//$background: #89ABF55E;
//$background: #ffffff;
$background: rgba(0, 0, 0, 0.10);
$black: #09090C;
$gray: #A4B2BC;
$white: rgba(201, 201, 201, 0.5);

:export {
  background: $background;
  black: $black;
  gray: $gray;
  white: $white;
}